
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* nav bar start frm here @warsndpeace */

nav {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav-items {
    display: flex;
    align-items: center;
    
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    padding: 3rem;
}

.active-item {
    font-family: 'Fredoka One',sans-serif;
    color: #fe5e35;
}


.intro-section {
    margin-left: 3rem;
    display: flex;
}

.left-section {
    flex: 0.5;
    margin-top: 3.5rem;
}

.left-section h3 {
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    display: flex;
}

.left-section h3 img {
    width: 6%;
    margin-left: 1rem;
}

.left-section h1 {
    font-size: 3.8rem;
    font-family: 'Fredoka One',sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.sub-headlines {
    margin: 3.2rem 4rem;
}

.sub-headline {
    padding: 0.4rem 0;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    display: flex;
}

.sub-headline img {
    width: 5%;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    background: #fe5e35;
    margin-right: 0.8rem;
}

.text {
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    color: #758283;
    margin-bottom: 2.3rem;
}

.action-btns .action-btn {
    padding: 0.4rem 1rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    border: none;
    background: #fe5e35;
    color: #fff;
}

.right-section {
    flex: 0.5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headphone-div {
    flex: 0.5;
}

.dots {
    flex: 0.5;
}

.headphone-div img:nth-child(3) {
    width: 100%;
    height: 65vh;
    position: relative;
    z-index: -1;
}

.discount {
    position: absolute;
    bottom: 10rem;
    left: 6rem;
    z-index: 1;
    width: 18%;
    filter: drop-shadow(4px 7px 0px rgb(0, 0, 0, 0.3));
}

.discount-content h4 {
    position: absolute;
    bottom: 15rem;
    left: 8.5rem;
    font-size: 0.8rem;
    font-family: 'Poppins',sans-serif;
    z-index: 1;
    color: #fff;
}

.discount-content h1 {
    position: absolute;
    bottom: 11.8rem;
    left: 7.3rem;
    font-size: 3rem;
    z-index: 1;
    color: #fff;
    font-family: 'Fredoka One',sans-serif;
    font-weight: 400;
}


.dots {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: black;
}

.yellow-dot {
    background-color: #F2EA00;
}

.tomato-dot {
    background-color: #fe5e35;
}

.right-section .action-btn {
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    border: none;
    background: #fe5e35;
    color: #fff;
}
